<%= content_tag("li", data: song.data) do %>
  <svg class="play" viewBox="0 0 32 32">
    <path d="M4 4 L28 16 L4 28 z"></path>
  </svg>

  <%= song.title %> <span class="byline">by <%= song.artist %></span>
<% end %>
