<section id="content">
  <%= render "groups", groups: @songs.group_by(&:published_on) %>
</section>

<% content_for :javascript do %>
  <%= javascript_include_tag "application" %>

  <script>
    (function() {
      var element;

      <% if @song.present? %>
        element = document.querySelector("[data-remote-id='<%== @song.remote_id %>']");

        if (element) {
          Player.play(element.dataset);
        }
      <% end %>

      element = element || document.querySelector("#content [data-remote-id]");
      element.classList.add("selected");
    })();
  </script>
<% end %>
