#player {
  @include position(absolute, null 0 0 0);

  height: $player-height;
  padding: $padding;
  border-top: $border-width solid $border;

  header {
    @include clearfix;

    h1 {
      padding: 8px 0;
      font-size: 14px;
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .byline {
        font-weight: 400;
      }
    }

    p {
      font-size: 12px;
      font-weight: 400;

      a {
        color: $text-dull;

        &:hover {
          color: $text-bright;
        }
      }
    }

    .artwork {
      background: $border;
      margin: 0 8px 0 0;
      border-radius: $border-radius;
      float: left;
    }
  }

  .purchase {
    @include position(absolute, -42px 0 null 0);

    border-top: $border-width solid $border;

    a {
      background: $background;
      color: $highlight;
      padding: 12px 0;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      display: block;

      &:hover {
        background: lighten($highlight, 40%);
      }
    }
  }

  .tip {
    @include position(relative, 50% null null 50%);

    font-size: 14px;
    display: inline-block;
    cursor: default;

    p {
      @include position(relative, 50% null null -50%);
      @include transform(translateY(-50%));

      color: $text;
      padding: 0 0 0 32px;
      line-height: 16px;

      span {
        @include position(absolute, -2px null null 0);

        background: $highlight;
        color: $foreground;
        padding: 4px 4px 3px 5px;
        border-radius: $border-radius;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        text-transform: uppercase;
        display: inline-block;
      }

      kbd {
        font-weight: 700;
      }
    }
  }

  section {
    @include clearfix;

    padding: $padding 0 0 0;

    .bar,
    .position,
    .remaining {
      float: left;
    }

    .bar {
      background: darken($background, 2%);
      width: 206px;
      margin: $border-width 0;
      padding: $border-width 0;
      cursor: pointer;

      &,
      span {
        height: 8px;
        border-radius: $border-radius;
        display: block;
      }

      span {
        background: lighten($text-bright, 20%);
        margin: -2px 0;
        width: 0;
      }
    }

    .loading,
    .position,
    .remaining {
      font-size: 12px;
      text-align: center;
      display: block;
    }

    .position,
    .remaining {
      width: 40px;
      letter-spacing: 0.75px;
    }
  }
}
