$background:  #FAFAFC;
$border:      #EAECF2;
$foreground:  #FFF;
$highlight:   #5CB85C;
$text-bright: #428BCA;
$text-dull:   #999;
$text:        #555;

$border-width:  2px;
$border-radius: 4px;
$padding:       16px;
$player-height: 110px;
$sidebar-width: 320px;
